<h1>Welcome <%= user.username %>!<br>
<a href="/new" class="btn btn-primary ml-2">Add Car</a><%- typeof show_all != "undefined" ? show_all : "" %><a href="/logout" class="btn btn-info ml-2">Logout</a><a href="/account?_method=DELETE" class="btn btn-danger ml-2">Delete Account</a></h1>
<%- include("./partials/messages") %>
<form action="/" method="post" class="my-4 form-inline">
	<input type="text" name="query" id="query" value="<%= typeof search != "undefined" ? search : "" %>" class="form-control col mr-2">
    <select class="form-select mr-2" aria-label="Select Type" name="selector">
        <option value="0" selected>Select Type</option>
        <option value="1">Engine Number</option>
        <option value="2">Frame</option>
        <option value="3">License Plate</option>
        <option value="4">Date</option>
    </select>
    <button type="submit" class="btn btn-success">Search</button>
</form>
<table class="table table-striped ">
	<thead>
		<tr>
			<th>Engine Number</th> 
			<th>Frame</th>
            <th>License Plate</th>
			<th>Date</th>
            <th>Price</th>
            <th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% cars.filter(car => car.user === user.email).forEach(car => { %>
			<tr>
				<td><%= car.engineNumber %></td>
				<td><%= car.frame %></td>
				<td><%= car.licensePlate %></td>
                <td><%= car.date %></td>
                <td><%= car.price %></td>
                <td><a class="btn btn-danger" href="/<%= car.bid %>/?_method=DELETE">Delete</a></td>
			</tr>
		<% }); %> 
	</tbody>
</table>