<%- include("./_nav.ejs") %>
<%- include("./_messages.ejs") %>
<form action="/" method="post" class="my-4 form-inline">
	<input type="text" name="query" id="query" value="<%= typeof search != "undefined" ? search : "" %>" class="form-control col mr-2">
    <select class="form-select mr-2" aria-label="Select Type" name="selector">
        <option value="0" selected><%= Translator("Select Type") %></option>
        <option value="1"><%= Translator("Engine Number") %></option>
        <option value="2"><%= Translator("Frame") %></option>
        <option value="3"><%= Translator("License Plate") %></option>
        <option value="4"><%= Translator("Date") %></option>
    </select>
    <button type="submit" class="btn btn-success"><%= Translator("Search") %></button>
</form>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th><%= Translator("Engine Number") %></th> 
				<th><%= Translator("Frame") %></th>
				<th><%= Translator("License Plate") %></th>
				<th><%= Translator("Date") %></th>
				<th><%= Translator("Price") %></th>
				<th><%= Translator("Actions") %></th>
			</tr>
		</thead>
		<tbody>
			<% cars.filter(car => car.creator === user.email).forEach(car => { %>
				<tr>
					<td><%= car.engineNumber %></td>
					<td><%= car.frame %></td>
					<td><%= car.licensePlate %></td>
					<td><%= car.date %></td>
					<td><%= car.price ? car.price : Translator("Free") %></td>
					<td><a class="btn btn-danger" href="/cars/<%= car.uuid %>/?_method=DELETE"><%= Translator("Delete") %></a></td>
				</tr>
			<% }); %> 
		</tbody>
	</table>
</div>