<h1><%= Translator.translate("License") %></h1>
<%- include("./partials/messages") %>
<form action="/buy-license" class="my-4" method="post">
	<div class="form-group">
		<label class="required" for="email1">Email</label>
		<input value="<%= typeof email1 != "undefined" ? email1 : "" %>" type="email1" name="email1" id="email1" class="form-control" placeholder="<%= Translator.translate("Enter your Email") %>">
	</div>
    <button type="submit" class="btn btn-primary"><%= Translator.translate("Buy License") %></button><p class="d-inline ml-4"><%= Translator.translate("If you want to buy a new subcription license") %></p>
</form>
<form action="/move-license" class="my-4" method="post">
	<div class="form-group">
		<label class="required" for="email2">Email</label>
		<input value="<%= typeof email2 != "undefined" ? email2 : "" %>" type="email2" name="email2" id="email2" class="form-control" placeholder="<%= Translator.translate("Enter your Email") %>">
	</div>
    <button type="submit" class="btn btn-primary"><%= Translator.translate("Move License") %></button><p class="d-inline ml-4"><%= Translator.translate("If you want to move your license to a new email") %></p>
</form>
<form action="/cancel-license" class="my-4" method="post">
	<div class="form-group">
		<label class="required" for="email3">Email</label>
		<input value="<%= typeof email3 != "undefined" ? email3 : "" %>" type="email3" name="email3" id="email3" class="form-control" placeholder="<%= Translator.translate("Enter your Email") %>">
	</div>
    <button type="submit" class="btn btn-primary"><%= Translator.translate("Cancel License") %></button><p class="d-inline ml-4"><%= Translator.translate("If you want to cancel your subcription license") %></p>
</form>
<form action="/get-license" class="my-4" method="post">
	<div class="form-group">
		<label class="required" for="email4">Email</label>
		<input value="<%= typeof email4 != "undefined" ? email4 : "" %>" type="email4" name="email4" id="email4" class="form-control" placeholder="<%= Translator.translate("Enter your Email") %>">
	</div>
    <button type="submit" class="btn btn-primary"><%= Translator.translate("Get License") %></button><p class="d-inline ml-4"><%= Translator.translate("If you have a coupon to get a free, cheaper or lifetime license") %></p>
</form>

<p class="multiple-accounts-text"><%= Translator.translate("If you want to buy a license for multiple accounts with a discount click") %> <a href="#"><%= Translator.translate("here") %></a></p>