<%- include("./_nav.ejs") %>
<%- include("./_messages.ejs") %>
<form action="/tasks" method="post" class="my-4 form-inline">
	<input type="text" name="text" placeholder="<%= Translator('Add a new task') %>..." id="text" class="form-control col mr-2">
    <input type="date" name="date" class="form-control mr-2" data-date>
	<button type="submit" class="btn btn-primary mr-2" formaction="/tasks/add?_method=POST"><%= Translator("Add Task") %></button>
    <button type="submit" class="btn btn-success" formaction="/tasks?_method=POST"><%= Translator("Search") %></button>
</form>
<div class="table-responsive">
	<table class="table table-striped todo-tab">
		<thead>
			<tr>
				<th><%= Translator("Day") %></th> 
				<th><%= Translator("Month") %></th> 
				<th><%= Translator("Year") %></th> 
				<th><%= Translator("Task") %></th> 
				<th><%= Translator("Done") %></th> 
				<th><%= Translator("Actions") %></th>
			</tr>
		</thead>
		<tbody>
			<% tasks.filter(task => task.creator === user.email).forEach(task => { %>
				<tr>
					<td><%= task.day %></td>
					<td><%= task.month %></td>
					<td><%= task.year %></td>
					<td><%= task.text %></td>
					<td><%= task.completed === true ? Translator("Yes") : Translator("No") %></td>
					<td><a class="btn btn-secondary" href="/tasks/<%= task.uuid %>/?_method=PUT"><%= Translator("Toggle") %></a>
					<a class="btn btn-danger mr-2" href="/tasks/<%= task.uuid %>/?_method=DELETE"><%= Translator("Delete") %></a></td>
				</tr>
			<% }); %> 
		</tbody>
	</table>
	<script>
		const dateSelect = document.querySelector("[data-date]");
		if (dateSelect.value === "") {
			const nowDay = new Date().getDate().toString();
			const nowMonth = (new Date().getMonth() + 1).toString();
			const nowYear = new Date().getFullYear().toString();
			dateSelect.value = `${nowYear}-${nowMonth}-${nowDay.length === 1 ? "0" + nowDay : nowDay}`;
		} 
	</script>
</div>